ProgramLauncher/bin/
ProgramLauncher/obj/
ProgramLauncher/.vs/
ProgramLauncher/.idea/
ProgramLauncher/ProgramLauncher.json
URLTools/bin/
URLTools/obj/
URLTools/.vs/
URLTools/.idea/
UserTagDumper/bin/
UserTagDumper/obj/
UserTagDumper/.vs/
UserTagDumper/.idea/
QMScale/bin/
QMScale/obj/
QMScale/.vs/
QMScale/.idea/
UserESP/bin/
UserESP/obj/
UserESP/.vs/
UserESP/.idea/
MLConsoleViewer/.idea/
MLConsoleViewer/.vs/
MLConsoleViewer/obj/
MLConsoleViewer/bin/
MLConsoleViewer/Output/
ShortCuts/.idea/
ShortCuts/.vs/
ShortCuts/obj/
ShortCuts/bin/
*.user
QMPet/.idea/
QMPet/.vs/
QMPet/obj/
QMPet/bin/
OldMate/.idea/
OldMate/.vs/
OldMate/obj/
OldMate/bin/
