ProgramLauncher/bin/
ProgramLauncher/obj/
ProgramLauncher/.vs/
ProgramLauncher/.idea/
URLTools/bin/
URLTools/obj/
URLTools/.vs/
URLTools/.idea/
UserTagViewer/bin/
UserTagViewer/obj/
UserTagViewer/.vs/
UserTagViewer/.idea/
QMScale/bin/
QMScale/obj/
QMScale/.vs/
QMScale/.idea/
UserESP/bin/
UserESP/obj/
UserESP/.vs/
UserESP/.idea/